<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"
     xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/}">Home</a>

    | &nbsp;

    <a th:href="@{/members}">Members</a>

    | &nbsp;

    <a th:href="@{/register}">Register</a>


</div>