<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
        }

        td span {
            font-size: 90%;
            font-style: italic;
            color: red;
        }

        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Register</h2>

<div class="error"
     th:if="${errorMessage != null}" th:utext="${errorMessage}">...
</div>

<form method="POST" th:action="@{/register}" th:object="${appUserForm}">
    <table>
        <tr>
            <td>User Name</td>
            <td><input th:field="*{userName}" type="text"/></td>
            <td>
                <span th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input th:field="*{password}" type="password"/></td>
            <td>
                <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td><input th:field="*{confirmPassword}" type="password"/></td>
            <td>
                <span th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}" type="text"/></td>
            <td>
                <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}">..</span>
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input th:field="*{firstName}" type="text"/></td>
            <td>
                <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input th:field="*{lastName}" type="text"/></td>
            <td>
                <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select th:field="*{gender}">
                    <option value=""> --</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </td>
            <td>
                <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">..</span>
            </td>
        </tr>
        <tr>
            <td>Country</td>
            <td>
                <select th:field="*{countryCode}">
                    <option value=""> --</option>
                    <option th:each="country : ${countries}"
                            th:utext="${country.countryName}"
                            th:value="${country.countryCode}"/>
                </select>
            <td><span th:errors="*{countryCode}" th:if="${#fields.hasErrors('countryCode')}">..</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit"/>
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>